.menu{
    background-color:rgb(73, 149, 235);
    width: 68.6%;
    height: 150px;
    margin-left: 30px;
    margin-bottom: 10px;
    
}
.menu p{
    font-size: 40px;
    padding-left: 25%;
    text-align: end;
}
.menuLogo{
    text-align: right;
    padding-left: 100px;
}